@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



.bg-primary {
  background: #05445E
}
.text-primary {
  color: #D4F1F4;
}
.text-header-white {
  color: #FFFFFF;
}
.text-header-blue {
  color: #189AB4;
}
.text-highlight {
  color: #75E6DA;
}
.btn-primary {
  background-color: #189AB4;
  color: #FFFFFF;
}

.btn-primary:hover {
  background-color: #05445E;
}

.border-accent {
  border-color: #039cad;
}
.icon-primary {
  color: #D0B870;
}
.hover\:bg-custom:hover {
  color:#04b7cb ;
}

html {
  --line-color: #D0B870;
}
