@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    line-height: 1.5;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

.container {
  overflow-x: hidden;
}


.bg-primary {
  background: #05445E;
}
.text-primary {
  color: #D4F1F4;
}
.text-header-white {
  color: #FFFFFF;
}
.text-header-blue {
  color: #189AB4;
}
.text-highlight {
  color: #75E6DA;
}
.btn-primary {
  background-color: #189AB4;
  color: #FFFFFF;
}


.border-accent {
  border-color: #039cad;
}
.icon-primary {
  color: #D0B870;
}
.hover\:bg-custom:hover {
  color:#04b7cb ;
}

/* .gold-gradient {
  background: linear-gradient(90.13deg, #F4ED95 1.9%, #935F25 97.5%);
  background: -webkit-linear-gradient(-90.13deg, #F4ED95 1.9%, #935F25 97.5%);
} */



html {
  --line-color: #D0B870;
}

.canvas-loader {
  font-size: 10px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  animation: mulShdSpin 1.1s infinite ease;
  transform: translateZ(0);
}

@keyframes mulShdSpin {

  0%,
  to {
      box-shadow: 0 -2.6em #fff, 1.8em -1.8em #fff3, 2.5em 0 #fff3, 1.75em 1.75em #fff3, 0 2.5em #fff3, -1.8em 1.8em #fff3, -2.6em 0 #ffffff80, -1.8em -1.8em #ffffffb3
  }

  12.5% {
      box-shadow: 0 -2.6em #ffffffb3, 1.8em -1.8em #fff, 2.5em 0 #fff3, 1.75em 1.75em #fff3, 0 2.5em #fff3, -1.8em 1.8em #fff3, -2.6em 0 #fff3, -1.8em -1.8em #ffffff80
  }

  25% {
      box-shadow: 0 -2.6em #ffffff80, 1.8em -1.8em #ffffffb3, 2.5em 0 #fff, 1.75em 1.75em #fff3, 0 2.5em #fff3, -1.8em 1.8em #fff3, -2.6em 0 #fff3, -1.8em -1.8em #fff3
  }

  37.5% {
      box-shadow: 0 -2.6em #fff3, 1.8em -1.8em #ffffff80, 2.5em 0 #ffffffb3, 1.75em 1.75em #fff, 0 2.5em #fff3, -1.8em 1.8em #fff3, -2.6em 0 #fff3, -1.8em -1.8em #fff3
  }

  50% {
      box-shadow: 0 -2.6em #fff3, 1.8em -1.8em #fff3, 2.5em 0 #ffffff80, 1.75em 1.75em #ffffffb3, 0 2.5em #fff, -1.8em 1.8em #fff3, -2.6em 0 #fff3, -1.8em -1.8em #fff3
  }

  62.5% {
      box-shadow: 0 -2.6em #fff3, 1.8em -1.8em #fff3, 2.5em 0 #fff3, 1.75em 1.75em #ffffff80, 0 2.5em #ffffffb3, -1.8em 1.8em #fff, -2.6em 0 #fff3, -1.8em -1.8em #fff3
  }

  75% {
      box-shadow: 0 -2.6em #fff3, 1.8em -1.8em #fff3, 2.5em 0 #fff3, 1.75em 1.75em #fff3, 0 2.5em #ffffff80, -1.8em 1.8em #ffffffb3, -2.6em 0 #fff, -1.8em -1.8em #fff3
  }

  87.5% {
      box-shadow: 0 -2.6em #fff3, 1.8em -1.8em #fff3, 2.5em 0 #fff3, 1.75em 1.75em #fff3, 0 2.5em #fff3, -1.8em 1.8em #ffffff80, -2.6em 0 #ffffffb3, -1.8em -1.8em #fff
  }
}


.canvas-container {
  max-width: 100%;
  overflow: hidden;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}
